# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
*.user
*.suo
*.userprefs
*.vs
.vs/
*.cache

# NuGet Packages
packages/
*.nupkg

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*